* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: black;
}

header .logo {
  width: 25%;
  margin-left: 70px;
}

header .logo a {
  color: white;
  font-size: 20px;
}

header nav {
  display: flex;
  width: 40%;
  background-color: #df1f27;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 4.5%;
  margin-left: 20%;
}

header nav ul li {
  display: inline-block;
  padding-left: 30px;
}

header nav ul li a {
  color: white;
  list-style-type: none;
  font-size: 20px;
}

header nav ul li a.active {
  color: #3cb878;
}

header nav ul li a:hover {
  color: #3cb878;
}

slide img {
  width: 100%;
  height: auto;
}

.search {
  width: 80%;
  text-align: center;
  margin-top: 40px;
}

.search h3 {
  padding: 10px;
  margin-left: 20%;
  background-color: #550000;
  color: #f4f4f4;
}

.search div {
  padding: 40px;
  margin-left: 20%;
  background-color: #f4f4f4;
}

.search div input {
  width: 300px;
  height: 30px;
}

.search div .btn {
  background-color: Crimson;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

featured-products .title {
  margin: 0 auto;
  width: 80%;
  margin-top: 70px;
  background-color: #df1f27;
  padding: 20px;
  position: relative;
}

featured-products .title img {
  background-color: white;
  position: absolute;
  top: -3px;
}

featured-products .title a {
  float: right;
  color: white;
  font-size: 20px;
  margin-top: -13px;
}

featured-products .container {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

featured-products .container ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

featured-products .container ul li {
  width: 30%;
  margin-left: 10px;
  border: 1px solid #ebebeb;
  height: 300px;
}

featured-products .container ul li img {
  width: auto;
}

featured-products .container ul li .content {
  margin-top: 20px;
  display: flex;
}

featured-products .container ul li .content div {
  width: 50%;
}

featured-products .container ul li .content a {
  color: #b50000;
  font-weight: bolder;
}

featured-products .container ul li .content p {
  color: #000000;
  font-weight: bolder;
}

featured-products .container ul li .content div .btn {
  padding: 10px 40px;
  border: 1px solid black;
  color: #000000;
  opacity: 0.5;
}

footer {
  margin-top: 100px;
  display: flex;
  background-color: #333333;
  padding: 3% 20%;
}

footer .footer-container {
  width: 50%;
  display: flex;
}

footer .footer-container ul {
  width: 50%;
}

footer .footer-container ul .menu_title {
  color: white;
  margin-bottom: 20px;
}

footer .footer-container ul li a {
  color: #ebebdf;
}

footer .contact_info {
  color: #ebebdf;
}

section {
  display: block;
  margin: 0 auto;
  width: 80%;
}

section .container {
  display: flex;
  justify-content: center;
}

section .container .info {
  width: 50%;
  margin-top: 20px;
  display: block;
}

section .container .info h3 {
  margin-bottom: 50px;
  font-size: 30px;
}

section .container .info .row {
  margin-bottom: 30px;
  display: flex;
}

section .container .info .row label {
  margin-left: 50px;
  min-width: 100px;
  display: block;
  font-size: 20px;
}

section .container .info .row .single {
  width: 400px;
  height: 30px;
}

section .container .info .rowbtn {
  display: flex;
  margin-left: 100px;
  justify-content: center;
}

section .container .info .rowbtn .btn {
  background-color: Crimson;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 20px;
  width: 150px;
}

section .container .content {
  margin-left: 100px;
  background-color: #f4f4f4;
  width: 40%;
  height: 500px;
}

section .container .content h3 {
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

section .container .content .row {
  display: flex;
  margin-left: 70px;
  margin-bottom: 10px;
}

section .container .content .row div {
  width: 300px;
  font-size: 20px;
}

section .container .content .row p {
  font-size: 20px;
}

section .container .content .rowtotal {
  padding-top: 20px;
  display: flex;
  align-items: center;
  height: 500px;
  margin-left: 70px;
}

section .container .content .rowtotal h4 {
  width: 300px;
  font-size: 20px;
}

section .container .content .rowtotal p {
  font-size: 20px;
}
